@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap'); 

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", Helvetica, sans-serif;
    
}

/* misc */

.center {
    margin: 0 auto;
}

.center-txt {
    text-align: center;
}

.top-space {
    margin-top: 30px;
}

.bottom-spacce {
    margin-bottom: 30px;
}


/* styles for header */

header {
    padding-top: 35vh;
    background-color: #484D53;
    height: 100vh;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 3em;
}

header h1, header p {
    color: #fff;
    padding: 0 35%;
}

/* styles for nav */

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #949495;
    padding: 30px;
    position: sticky;
    top: 0;
    background-color: #484D53;
}

nav ul {
    list-style-type: none;
    margin-top: 6px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #949495;
    text-decoration: none;
    font-size: 1.1em;
}

.home, nav ul li a:hover {
    color: #fff;
    transition-duration: 0.3s;
}

nav h2 {
    color: white;
    font-size: 2em;
}

/* styles for main */

.container1 {
    background-color: #F8F9FA;
    padding: 50px 20px;
}

.container3, .container4 {
    margin: 0 15%;
    padding-bottom: 100px;
}

.works-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15%;
}

.works-grid div {
    padding: 30px;
}

.works-grid div p, .container3-txt, .container-txt p {
    color: #777777;
}

.container3-txt {
    width: 40%;
}

.container-txt p {
    margin-top: 10px
}

.container3-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    text-align: center;
}

.container3-grid .container{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f0f0f0;
    width: 400px;
    margin: 35px 25px;
    padding: 20px 0;
}

.container3-grid .container .container-txt {
    margin-right: 20px;
}

.container3-grid div img {
    width: 100px;
}

.invest {
    margin-top: 25px;
}

.container1 h1, .container2 h1, .container3 h1, .container4 h1 {
    color: #F69314;
}

p, .container1 h4 {
    font-size: 1.5em
}

.container1 img {
    display: block;
    margin: 0 auto;
    width: 80px;
}

hr {
    width: 100%;
    background-color: #000;
    height: 1px;
    margin-bottom: 100px;
}

.container4 {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
}
